$main-blue: #348c93;
$text-blue: #80b7bb;
$main-orange: #ff8a43;
$grey: #acacac;
$accent-orange: #dd6616;
$lighter-blue: rgba(52, 140, 147, 0.5);
$light-blue: rgba(52, 140, 147, 0.1);
$base-shadow: 0px 4px 15px 0px #00000033;
$white: #ffffff;
